@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--c100);
}

body {
  display: flex;
}

:root {
  --primary-color: pink;
  --secondary-color: pink;
  --third-color: pink;
  --text-color: pink;
  --c50: #fff1f1;
  --c100: #ffe4e4;
  --c200: #fdced0;
  --c300: #fca5a8;
  --c400: #f9737a;
  --c500: #f14250;
  --c600: #de2039;
  --c700: #b7142d;
  --c800: #9d142e;
  --c900: #86152e;
  --c950: #4b0613;
}

*::selection {
  color: var(--c50);
  background-color: var(--c600);
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}