.sidenav {
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--c600);
  overflow: hidden;
}

.sidenav-inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.image-logo {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.image-logo[alt] {
  font-size: 0.5rem;
  color: var(--c200);
}

.text-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--c200);
}

.sidenav-icon {
  font-size: 1.2rem;
  color: var(--c200);
  cursor: pointer;
}

.sidenav-list {
  margin-top: 1rem;
}

.sidenav-list-item {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--c200);
  text-transform: capitalize;
  cursor: pointer;
}

.active,
.active-icon {
  border: none;
  color: var(--c700);
  background-color: var(--c50);
}

.sidenav-list-item:hover {
  color: var(--c50);
  background-color: var(--c400);
}

.sidenav-list-item:hover,
.sidenav-list-item:hover .icon {
  color: var(--c50);
  background-color: var(--c400);
}

.active:hover,
.active:hover .active-icon {
  color: var(--c700);
  background-color: var(--c50);
}

.sidenav-footer {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem 2rem;
}