@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
/*   outline: 1px dotted red; */
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
}

html {
  font-size: 62.5%;
}

main {
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  background-color: lightseagreen;
  font-size: 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  column-gap: 5vw;
  font-size: 1.6rem;
}

nav a {
  color: #fff;
  text-transform: uppercase;
}

nav a:hover {
  color: #ccc;
  transition: color .5s ease;
}

.hero {
  flex: 1;
  width: 100%;
  padding: 2vw 5vw 0;
  background: white;
}

.heading {
  font-size: 3rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.5rem 0;
}

form input {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: .1rem solid lightseagreen;
  border-radius: 0.5rem;
}

form input:focus {
  outline: none;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: lightseagreen;
  cursor: pointer;
}

table {
  height: 65vh;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.actions button {
  margin: 0 0.4rem;
}
